*{
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style: none;
     font-family: 'Poppins', sans-serif;
}


.baground-image{
     background-image: url(image/bacground-colour.png);
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: 100% 100%;
}

    

.name{
     
   margin-left: 5%;
   margin-top: 14%;
}
span{

     color: rgb(255, 204, 0);
}

.shape{
     padding: 100px;
     max-width: 100%;
     max-height: 100%;
     position: absolute;
     bottom: 0;
     height: 80%;
     right: -550px;
}
     
.image{

     width: 40%;
     height: 100%;
     position: absolute;
     bottom: 0;
     right: 100px;
   }
   .image img{
  
     transform: translateX(-50%);
     transition: bottom 1s, left 1s;
     
   }
   .image:hover .shape{
     bottom: 20px;

   }
   .image:hover .boy{
     bottom: 10px;

   }


.boy{
     

   height: 90%;
   position: absolute;
   bottom: 0%;
   right: -300px;
}
.anchor{
      color:  rgb(255, 204, 0);
      
        }
        
        
        
        .anchor:hover {
          color: rgb(255, 204, 0);
          background-color: rgb(171, 25, 208);
     }

nav ul{
     float: right;
     margin-right: 20px;
  
     
}
nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
     
}
nav ul li a:hover{
     color: red;
}
a.action,a:hover{
     color: rgb(255, 12, 12);
     
    
}
a.about,a:hover{
    color: rgb(255, 0, 0);
     
}
a.service,a:hover{
     color: rgb(248, 0, 0);

}
a.feedback,a:hover{
     color: rgb(255, 6, 6);
     
}
.anchor{
     text-decoration: none;
     background-color: black;
     padding: 1px 10px;
     color: wheat;
     font-weight: 700;
     border-radius: 100px;
     
}
label {
     text-decoration: none;
     color: rgb(0, 0, 0);
     font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 3%;
  
}





      
        

     






