.backround-image{
     background-image: url(image/bacground-colour.png);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
     font-family: 'Poppins', sans-serif;
}
.name{
     
   margin-left: 8%;
   margin-top: 15%;
}
span{

     color: rgb(255, 204, 0);
}


     








.image{

     width: 40%;
     height: 100%;
     position: absolute;
     bottom: 0;
     right: 100px;
  

}
.boy{
     

     padding: 100px;
     width: 80% ;
     height: auto;
     position: absolute;
     bottom: 0;
     
     
}





